.header {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin-top: 7vh;
}

.header__description {
  flex: 1;
  h1 {
    margin-bottom: 2rem;
    div {
      height: 3rem;
      overflow: hidden;

      ul {
        animation: slideUp calc(var(--length) * 2s) cubic-bezier(.58,.18,.52,.96) infinite;
        li {
          display: block;
          font-weight: 400;
        }
      }

    }
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    span {
      color: #1C03FF;
    }
  }
}

.header__image {
  aspect-ratio: 1 / 1;
  background: url("/assets/me.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border: solid 2px #000;
  border-radius: 50%;
  max-width: 400px;
  min-width: 30%;
  width: 300px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 25svh;
    height: 50svh;
    flex-direction: row;
    justify-content: space-between;

    .header__image {
      height: fit-content;
      flex-shrink: 1;
    }
  }
}

@keyframes slideUp {
  0%, 5% { transform: translateY(0%); }
  10%, 15% { transform: translateY(-5%); }
  20%, 25% { transform: translateY(-10%); }
  30%, 35% { transform: translateY(-15%); }
  40%, 45% { transform: translateY(-20%); }
  50%, 55% { transform: translateY(-25%); }
  60%, 65% { transform: translateY(-30%); }
  70%, 75% { transform: translateY(-35%); }
  80%, 85% { transform: translateY(-40%); }
  90%, 95% { transform: translateY(-45%); }
  100% { transform: translateY(-50%); }
}
