.stacks__list {
  display: flex;
  flex: 1;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .stacks__list {
    justify-content: left;
  }
}
