.dynamic-island {
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  background-color: #F2F6D0;
  color: #333;
  border: solid 2px #000;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
